<div class="row">
  <div class="col-4 p-5">
    <div>Make (1 selected)</div>
    <ng-select
      [items]="accounts"
      bindLabel="name"
      bindValue="name"
      [searchable]="false"
    >
    </ng-select>
  </div>
  <div class="col-4 p-5">
    <div>Model (1 selected)</div>
    <ng-select
      [items]="accounts"
      bindLabel="name"
      bindValue="name"
      [searchable]="false"
    >
    </ng-select>
  </div>
  <div class="col-4 p-5">
    <div>Year (1 selected)</div>
    <ng-select
      [items]="accounts"
      bindLabel="name"
      bindValue="name"
      [searchable]="false"
    >
    </ng-select>
  </div>
</div>
