a{
    text-decoration: none;
}
.closed-border-table {
    border-collapse: collapse;
  }
  .closed-border-table th,
  .closed-border-table td {
    border: 1px solid #000;
    padding: 8px;
  }

  .makeClass{
    
  }